Makefile
Makefile.in
.deps
.libs
.msg
*.lo
*.la
*.a
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
xorg-server.pc
stamp-h?
do-not-use-config.h
do-not-use-config.h.in
